/Ex1/nbproject/private/
/Ex1/build/
/compoundinterest/nbproject/private/
/compoundinterest/build/
/rolldie/nbproject/private/
/rolldie/build/
/NDvectorComputations/nbproject/private/
/NDVectorComputations.java/nbproject/private/
/NDVectorComputations/nbproject/private/
/NDVectorComputations/build/
