/Ex1/nbproject/private/
/Ex1/build/
/compoundinterest/nbproject/private/
/compoundinterest/build/
/rolldie/nbproject/private/
/rolldie/build/
/NDvectorComputations/nbproject/private/
/NDVectorComputations.java/nbproject/private/
/NDVectorComputations/nbproject/private/
/NDVectorComputations/build/
/Time1Test/nbproject/private/
/Time1Test/build/
/Spindle/nbproject/private/
/Spindle/build/
/T/nbproject/private/
/T/build/
/Citizen/nbproject/private/
/Citizen/build/
/Citizens/nbproject/private/
/Citizen/dist/
